<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModPack.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ModPack.My.MySettings.ModPackDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Z:\ModPack\ModPackDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ModPack.My.MySettings>
            <setting name="FileLogPath" serializeAs="String">
                <value>Z:\Modpack\Log.txt</value>
            </setting>
            <setting name="MaxLengthLog" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="LogType" serializeAs="String">
                <value>normal</value>
            </setting>
        </ModPack.My.MySettings>
    </userSettings>
</configuration>